<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>User sid:</strong>
  <%= @note.user_sid %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @note.expires.strftime("%b %d, %Y") %>
</p>

<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-warning" %>
<%= link_to 'Back', notes_path, class: "btn btn-primary" %>
