<% if x.children.count > 0 %>
          <li class="dropdown">
          <%= link_to x, class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button" do %><%= x.title %><span class="caret"></span>
          <ul class="dropdown-menu">
          <li><%= link_to x.title, x, class: "btn btn-link" %></li>
            <% x.children.each do |y| %>
              <%= render partial:'dropdown', locals:{x:y} %>
            <% end%>
          </ul>
<% end %>
<% else %>
  <li><%= link_to x.title, x, class: "btn btn-link" %><li>

<% end %>

