<li>
<%= link_to x.title, x, class: "btn btn-link" %>
<% if x.children.count > 0 %>
  <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapse-<%= x.id %>">
  Expand <%= x.title %>
  </button>
  </li>
  <div id = "collapse-<%= x.id %>" class="collapse">
  <ul>
<% x.children.each do |y| %>
  <%= render partial:'tree', locals:{x:y} %>
<% end%>
  </ul>
  </div>
<% end %>
