<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<p>
  <strong class="text-uppercase">Url:</strong>
  <%= @menu.url %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @menu.parent_id ? @menu.parent.title : "No menu" %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu), class: "btn btn-warning"  %>
<%= link_to 'Back', menus_path, class: "btn btn-primary" %>
<% if @menu.parent %>
<%= link_to 'Destroy', @menu, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %>
<% end %>
