<h1><center>Welcome to the WLCSC Intranet!</center></h1>
<br>
<h2><center><strong>Notes</strong></center></h2>
<br>
<% @notes.in_groups_of(3) do |thing| %>
<div class = "row">
  <% thing.each do |note| %>
    <% if note != nil %>
      <div class = "col-md-4">
      <center><h4><%= note.title %></h4></center>
      <% if note.created_at == note.updated_at %>
        <center><h5>Created by <span class = "thing"><%= note.user_sid %></span> on:  <%= note.created_at.strftime("%b %d, %Y at %I:%M %p") %></h5></center>
      <% else %>
        <center><h5>Updated by <span class = "thing"><%= note.user_sid %></span> on:  <%= note.updated_at.strftime("%b %d, %Y at %I:%M %p") %></h5></center>
      <% end %>
      <p><%= note.content %></p>
    </div>
    <% end %>
  <% end %>
</div>
<% end %>
<h2><center><strong>References</strong></center></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><h3>Title</h3></th>
      <th><h3>Username</h3></th>
      <th><h3>Password</h3></th>
      <th><h3>External</h3></th>
      <th><h3>Notes</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.order(:title).each do |reference| %>
      <tr>
        <td><%= link_to reference.title, reference.url %></td>
        <td><%= reference.username %></td>
        <td><%= reference.password %></td>
        <td><% if reference.external %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        </td>
        <td><%= reference.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer class="clearfix">
				<p>Created by <a href="https://github.com/johnlbullock">John Bullock</a>, <a href="https://github.com/Sammidysam">Sam Craig</a>, &amp; <a href="http://brad-thompson.com">Brad Thompson</a></p>
				<p>Maintained by the WLCSC IT Department - <a href="mailto: thompsonb@wl.k12.in.us">Contact Us</a>.</p>
				<p>Source available on <a href="https://github.com/WLCSC/intranet2015">GitHub</a>.</p>
				<p><%= @base_url %></p>
				<!-- We need to come up with some cool name or something -->
				<!--<p>&copy; 2013</p>-->
			</footer>
