<h1>Welcome to the WLCSC Intranet!</h1>
<% if @browsinger %>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" class = "text-warning">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Using Internet Explorer is not great for the Intranet.  You can continue, or use a different browser to access the Intranet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= javascript_tag do %>
  $(function() {
    $('.modal').modal();
  });
<% end %>
<% end %>
<pre><%= request.env['HTTP_USER_AGENT'].downcase %></pre>
<% @notes.in_groups_of(3) do |thing| %>
<div class = "row">
  <% thing.each do |note| %>
    <% if note != nil %>
      <div class = "col-md-4">
      <h4><%= note.title %></h4>
      <% if note.created_at == note.updated_at %>
        <h5>Created by <span class = "thing"><%= note.user_sid %></span> on:  <%= note.created_at.strftime("%b %d, %Y at %I:%M %p") %></h5>
      <% else %>
        <h5>Updated by <span class = "thing"><%= note.user_sid %></span> on:  <%= note.updated_at.strftime("%b %d, %Y at %I:%M %p") %></h5>
      <% end %>
      <p><%= note.content %></p>
    </div>
    <% end %>
  <% end %>
</div>
<% end %>
<h2>References</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Username</th>
      <th>Password</th>
      <th>External</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @references.order(:title).each do |reference| %>
      <tr>
        <td><%= link_to reference.title, reference.url %></td>
        <td><%= reference.username %></td>
        <td><%= reference.password %></td>
        <td><% if reference.external %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        </td>
        <td><%= reference.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer class="clearfix">
				<p>Created by <a href="https://github.com/johnlbullock">John Bullock</a>, <a href="https://github.com/Sammidysam">Sam Craig</a>, &amp; <a href="http://brad-thompson.com">Brad Thompson</a></p>
				<p>Maintained by the WLCSC IT Department - <a href="mailto: thompsonb@wl.k12.in.us">Contact Us</a>.</p>
				<p>Source available on <a href="https://github.com/WLCSC/intranet2015">GitHub</a>.</p>
				<p><%= @base_url %></p>
				<!-- We need to come up with some cool name or something -->
				<!--<p>&copy; 2013</p>-->
			</footer>
