<!DOCTYPE html>
<html>
<head>
  <title>Intranet2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 
<%= navbar do %>
			<%= navbar_header brand: "Intranet", brand_link: root_url %>
			<%= navbar_collapse do %>
				<%= navbar_group class: "foo", id: "menu" do %>
					<% Menu.where(menu_id: nil).order(:title).each do |menu| %>
						<%= navbar_dropdown menu.title do %>
<% menu.children.order(:title).each do |x| %>
  <%= navbar_item(x.title, menu_path(x)) %>
<% end %>
<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
<%= yield %>
</body>
</html>
