<!DOCTYPE html>
<html>
<head>
  <title>Intranet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar class: "navbar-static-top" do %>
      <div class="textifier">
			<%= navbar_header brand: image_tag("WL_Logo", height: "25px", style: "display: inline") + " Intranet", brand_link: root_url %>
			<%= navbar_collapse do %>
				<%= navbar_group class: "foo", id: "menu" do %>
					<% Menu.where(menu_id: nil).order(:title).each do |menu| %>
            <% if menu.children.present? %>
						  <%= navbar_dropdown menu.title do %>
                <% menu.children.order(:title).each do |x| %>
                  <%= navbar_item(x.title, x.url) %>
                <% end %>
              <% end %>
            <% else %>
                <%= navbar_item(menu.title, menu.url) %>
            <% end %>
					<% end %>
				<% end %>
			<% end %>
    </div>
		<% end %>
<div class="container">
<% @notes_stuff.each do |x| %>
  <% if x.expires != nil %>
    <% if x.expires < DateTime.now %>
      <% x.destroy %>
    <% end %>
  <% end %>
<% end %>
<div class="main-container">
<%= yield %>
<br>
<div class="container footer">
  <% if current_user %>
    <%= link_to "Menu Editor", menus_path %>
     -
    <%= link_to "Notes Editor", notes_path %>
     -
    <%= link_to "Reference Editor", references_path %>
     -
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Log In", new_session_path %>
  <% end %>
</div>
</div>
</div>
</body>
</html>
